<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Hi <%= name %>,</h2>
    <p>
        you are on your way for reseteting your password, please click the button
        to continue.
    </p>
    <a href="#" style="
				background-color: #3498db;
				border: none;
				color: white;
				padding: 12px 24px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				border-radius: 4px;
				margin-top: 20px;
			">Click to Continue</a>
    <p>If you didn't sign up for our service, please ignore this email.</p>
    <p>Best regards,</p>
    <p>The Team</p>
</body>
</html>